<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="theme-color" content="#1a1a1a">
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{ page.title }} | Discord MD"/>
  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">
  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
</head>